<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="mobi.monaca.plugins.HttpServer"
    version="1.0.0">

    <name>HttpServer</name>
	<description>HttpServer</description>
    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>
    <license>Asial</license>

    <js-module src="www/httpServer.js" name="HttpServer">
        <clobbers target="plugins.httpServer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HttpServer">
                <param name="android-package" value="mobi.monaca.framework.plugin.HttpServerPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/HttpServerPlugin.java" target-dir="src/mobi/monaca/framework/plugin" />
        <source-file src="src/android/MonacaLocalServer.java" target-dir="src/mobi/monaca/framework/plugin" />
        <source-file src="src/android/NanoHTTPD.java" target-dir="src/fi/iki/elonen" />
        <source-file src="src/android/SimpleWebServer.java" target-dir="src/fi/iki/elonen" />        
    </platform>
</plugin>